<head>
    <style>
        .info{
            display: flex;
            flex-direction: column;
            background-color: rgb(230, 230, 230);
            padding: 20px 40px;
        }
        .info h1{
            text-align: center;
            color: red;
        }
        .info span{
            padding: 10px 0;
            font-size: 20px;
        }
        .info-content{
            display: flex;
            flex-direction: column;
        }
        .info-content h1{
        }
        .info-content span{
        }
        .info-content img{
            height: 400px;
            border-radius: 10px ;
        }
    </style>
</head>
<body>
    <div class="info">
        <h1>GIỚI THIỆU</h1>
        <span>Học viện Công nghệ Bưu chính Viễn thông được thành lập theo quyết định số 516/TTg của Thủ tướng Chính phủ ngày 11 tháng 7 năm 1997 trên cơ sở sắp xếp lại 4 đơn vị thành viên thuộc Tổng Công ty Bưu chính Viễn thông Việt Nam, nay là Tập đoàn Bưu chính Viễn thông Việt Nam là Viện Khoa học Kỹ thuật Bưu điện, Viện Kinh tế Bưu điện, Trung tâm đào tạo Bưu chính Viễn thông 1 và 2. Các đơn vị tiền thân của Học viện là những đơn vị có bề dày lịch sử hình thành và phát triển với xuất phát điểm từ Trường Đại học Bưu điện 1953.</span>
        <span>Từ ngày 1/7/2014, thực hiện Quyết định của Thủ tướng Chính phủ, Bộ trưởng Bộ Thông tin và Truyền thông đã ban hành Quyết định số 878/QĐ-BTTTT điều chuyển quyền quản lý Học viện từ Tập đoàn Bưu chính Viễn thông Việt Nam về Bộ Thông tin và Truyền thông. Học viện Công nghệ Bưu chính Viễn thông là đơn vị sự nghiệp trực thuộc Bộ. Là trường đại học, đơn vị nghiên cứu, phát triển nguồn nhân lực trọng điểm của Ngành thông tin và truyền thông.</span>
        <span>Với vị thế là đơn vị đào tạo, nghiên cứu trọng điểm, chủ lực của Ngành thông tin và truyền thông  Việt Nam, là trường đại học trọng điểm quốc gia trong lĩnh vực ICT, những thành tựu trong gắn kết giữa Nghiên cứu – Đào tạo – Sản xuất kinh doanh năng lực, quy mô phát triển của Học viện hôm nay, Học viện sẽ có những đóng góp hiệu quả phục vụ sự phát triển chung của Ngành Thông tin và truyền thông và sự nghiệp xây dựng, bảo vệ tổ quốc, góp phần để đất nước, để Ngành Thông tin và truyền thông Việt Nam có sự tự chủ, độc lập về khoa học công nghệ và nguồn nhân lực, qua đó tự tin cạnh tranh với các đối thủ lớn và sánh vai với các cường quốc trên thế giới.</span>
        <div class="info-content">
            <h1>Chức năng và nhiệm vụ</h1>
            <span>Học viện Công nghệ Bưu chính – Viễn thông là đơn vị sự nghiệp trực thuộc Bộ Thông tin và truyền thông, Học viện thực hiện hai chức năng cơ bản:</span>
            <img src="https://blogcdn.muaban.net/wp-content/uploads/2022/08/16015853/ptit-diem-chuan-1.jpg" alt="">
            <span>Giáo dục, đào tạo cho xã hội và cho nhu cầu của Ngành thông tin và truyền thông Việt Nam.</span>
            <span>Nghiên cứu khoa học, tư vấn, chuyển giao công nghệ trong lĩnh vực Bưu chính, Viễn thông và công nghệ thông tin đáp ứng nhu cầu xã hội và nhu cầu của Ngành thông tin và truyền thông Việt Nam.</span>
        </div>

        <div class="info-content">
            <h1>Đào tạo</h1>
            <span>Hệ thống đào tạo và cấp bằng của Học viện bao gồm nhiều cấp độ tuỳ thuộc vào thời gian đào tạo và chất lượng đầu vào của các học viên. Hiện nay Học viện cung cấp các dịch vụ giáo dục, đào tạo chủ yếu sau đây:</span>
            <img src="https://ictv.1cdn.vn/2024/04/08/1238.jpg" alt="">
            <span>Thực hiện các khoá đào tạo bậc Cao đẳng, Đại học, Thạc sĩ và Tiến sĩ theo chương trình chuẩn quốc gia và quốc tế theo các hình thức khác nhau như tập trung, phi tập trung, liên thông, đào tạo từ xa…</span>
            <span>Tổ chức các khoá đào tạo bồi dưỡng ngắn hạn cấp chứng chỉ trong các lĩnh vực Bưu chính, Viễn thông, công nghệ thông tin, quản trị kinh doanh, an toàn thông tin, công nghệ đa phương tiện…</span>
        </div>

        <div class="info-content">
            <h1>Nghiên cứu khoa học và tư vấn chuyển giao công nghệ</h1>
            <span>Tổ chức nghiên cứu về chiến lược, quy hoạch phát triển mạng và dịch vụ bưu chính, viễn thông và công nghệ thông tin.</span>
            <img src="https://ict-imgs.vgcloud.vn/2021/11/20/18/sinh-vien-ptit-co-them-phong-lab-vien-thong-phuc-vu-hoc-tap-gan-ket-thuc-tien.jpg" alt="">
            <span>Tổ chức nghiên cứu về công nghệ, giải pháp và phát triển dịch vụ trong lĩnh vực bưu chính, viễn thông và công nghệ thông tin. Tổ chức nghiên cứu và phát triển các sản phẩm, bán sản phẩm trong lĩnh vực điện tử – viễn thông. Tổ chức nghiên cứu về quản lý, điều hành doanh nghiệp và các lĩnh vực kinh tế khác.</span>
            <span>Cung cấp các dịch vụ tư vấn về công nghệ, giải pháp và phát triển dịch vụ trong lĩnh vực bưu chính, viễn thông, công nghệ thông tin và lĩnh vực kinh tế cho các đơn vị trong và ngoài Ngành thông tin và truyền thông  Việt Nam.
Cung cấp các dịch vụ đo lường, kiểm chuẩn, tư vấn thẩm định các công trình, dự án thuộc lĩnh vực bưu chính viễn thông và công nghệ thông tin.
Học viện được ký thoả ước hợp tác với các tổ chức nghiên cứu và đào tạo nước ngoài, trao đổi chuyên gia nghiên cứu và đào tạo với nước ngoài theo quy định của Nhà nước.</span>
        </div>
    </div>
</body>