<head>
    <style>
        .update{
            display: flex;
            padding: 20px 40px;
        }
        .update img{
            width: 900px;
            height: 500px;
        }
        .update span{
            margin: auto 0;
            font-size: 30px;

        }
    </style>
</head>
<body>
    <div class="update">
        <img src="https://media.licdn.com/dms/image/D4E12AQGT4afLHk2_aA/article-inline_image-shrink_1000_1488/0/1692799530990?e=1724889600&v=beta&t=dYFqPamTdElOTl0GUvJboEYxW9PjoV8VUS2ILafuxGM" alt="">
    <span>Updating...</span>
    </div>
</body>