<head>
    <style>
        footer{
            display: flex;
            padding: 10px;
            background-color: red;
            position: fixed;
            bottom: 0;
            border-top: 0.5px solid rgb(128, 128, 128);
        }
        .footer-content{
            display: flex;
            flex: 2;
            padding-right: 10px;
        }
        .footer-content_item{
            display: flex;
            flex: 1;
            border-right: 0.5px solid white;
        }
        .footer-content_item span{
            font-weight: 800;
            font-size: medium;
            padding: 10px;
            color: rgb(255, 255, 255);
        }
        .footer-map{
            flex: 1;
            display: flex;
            flex-direction: column;
        }
        .footer-map_item{
           width: 80%;
           margin: 0 auto;
           border-radius: 10px;
        }
        .footer-map_text{
            padding-top: 10px;
            margin: 0 auto;
            font-weight: 600;
            font-size: medium;
            color: rgb(255, 255, 255);
        }

    </style>
</head>
<footer>
<div class="footer-content">
    <div class="footer-content_item">
        <span>Trụ sở chính: 122 Hoàng Quốc Việt, Q.Cầu Giấy, Hà Nội.</span>
        <span>Cơ sở đào tạo tại Hà Nội: Km10, Đường Nguyễn Trãi, Q.Hà Đông, Hà Nội</span>
    </div>
    <div class="footer-content_item">
        <span>Học viện cơ sở tại TP. Hồ Chí Minh: 11 Nguyễn Đình Chiểu, P. Đa Kao, Q.1 TP Hồ Chí Minh</span>
        <span>Cơ sở đào tạo tại TP Hồ Chí Minh: Đường Man Thiện, P. Hiệp Phú, Q.9 TP Hồ Chí Minh</span>
    </div>
</div>
<div class="footer-map">
    <iframe class="footer-map_item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3725.2948103194094!2d105.78805952699085!3d20.980816362669607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135acce762c2bb9%3A0xbb64e14683ccd786!2zSOG7jWMgVmnhu4duIENOIELGsHUgQ2jDrW5oIFZp4buFbiBUaMO0bmcgLSBIw6AgxJDDtG5n!5e0!3m2!1svi!2sus!4v1720606430539!5m2!1svi!2sus"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="footer-map_text">
        <span>Auth: Nguyen Tien Phong</span>
    </div>
</div>
</footer>
