<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmymXvmxcHP8ppB2lQWXJQVMKe_Dg__j7Tcg&s" type="image/x-icon">
    <title>Pstudy</title>
    <style>
        html,body{
           margin: 0;
           padding: 0;
           font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
    </style>
</head>
<body>
    {{> header}}
   {{{body}}}
   {{> footer}}
</body>
</html>
